:root {
  font-family: "Poppins", system-ui, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-size: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
