#gallery {
  padding: 6rem 0;
}

#form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  width: 100%;
}

#form .search {
  border: 1px solid gray;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 60rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  background: #fff;
}

#form .submit {
  background: rgb(228, 108, 148);
  padding: 1rem 4rem;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#form .submit:hover {
  background: rgb(213, 78, 123);
}

#image-container {
  display: none;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

#image-container .image-card {
  max-width: 45rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#image-container .image-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.02);
}

#image-container .image-card img {
  width: 100%;
  max-width: 45rem;
  height: 100%;
  min-height: 45rem;
  object-fit: cover;
}

#image-container .image-card .image-title {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background: #fff;
}

#image-container .image-card .image-wrapper {
  transition: transform 0.3s ease-in-out;
  position: relative;
  display: flex;
}

#image-container .image-card .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
}

#image-container .image-card:hover .image-wrapper {
  transform: scale(1.05);
}

#image-container .image-card:hover .image-wrapper::after {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/magnifying-glass.svg");
}

#loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 1rem;
}

@media (max-width: 991px) {
  #image-container .image-card {
    max-width: 35rem;
  }
}

@media (max-width: 600px) {
  #form {
    flex-direction: column;
    gap: 1rem;
  }

  #form .search {
    text-align: center;
  }

  #form .search::placeholder {
    text-align: center;
  }

  #image-container .image-card {
    max-width: 100%;
  }

  #image-container .image-card img {
    width: 100%;
    min-height: auto;
  }
}
